.general-info {
    display: flex;
    color: white;
    background: black;
    font-size: 14px;
    padding: 15px;
    border-radius: 8px;
    background-size: 100% 100%;
    // justify-content: space-between;
    & > div {
        margin-right: 20px;
        &.info {
            font-weight: bolder;
        }
        div {
            line-height: 25px;
        }
    }
    .firm-poster {
        flex: 10
    }
    .firm-name {
        flex: 20;
    }
    .cenima {
        flex: 20;
    }
}